<div class = "main-report-table">
    <table>
        <tr>
            <td style = "width: 100px;"><b>DATA</b></td>
            <td style = "width: 100px;"><b>CATEGORIA</b></td>
            <td style = "width: 100px;"><b>QUANTIA</b></td>
            <td style = "width: 300px;"><b>NOTAS</b></td>
        </tr>
        <tr>
            <td>27/06/2023</td>
            <td>Salário</td>
            <td style = "text-align: right;">1000,00 €</td>
            <td>Salário Vestas</td>
        </tr>
    </table>
</div>